extends common/showcase
block title
    | Bride
block text
    div.row
        div.col-xs-12.col-md-12
            div.page-header
                h1#bride.text-center
                    | Taylor Dozier
                    span.small= " The Bride"
    div.row
        div.col-xs-12.col-md-6
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title
                        | Songs That Remind Me of Jonathan
                div.panel-body
                    ul.list-group
                        +songListItemList(songs)
