extends common/showcase
block title
    | Bride
block text
    div.row
        div.col-xs-12.col-md-12
            div.page-header
                h1#bride.text-center
                    | Taylor Dozier
                    span.small= " The Bride"
    div.row
        div.col-xs-12.col-md-12
            div.panel.panel-default
                div.panel-body
                    h5= "What I Love"
                    p
                        | Although I started out a Seahawk, I love ECU Purple
                        | and the Pirate Nation! I am an education major and I
                        | love teaching 2nd grade! I am a sister of Sigma Alpha
                        | Omega, a Christian sorority that helped me to find a
                        | home away from home in Greenville. I love country
                        | music, reading Nicholas Sparks books, taking pictures,
                        | organization, holidays, bulldogs, Disney, shopping
                        | with my Granny, and anything with a theme! I love to
                        | spend time with my family, second family, friends,
                        | and Jonathan!
                    h5= "Where I Call Home"
                    p
                        | I was born and raised in Currituck, NC in a
                        | beautiful house on South Currituck Road that I’ve
                        | lived in my whole life! My entire family lives in
                        | Currituck too! I am both nervous and excited to branch out
                        | and explore a new home with my love- Raleigh, NC!
                    h5= "What I Do?"
                    p
                        | I am a teacher in the making! I will graduate in December
                        | with an Elementary Education degree and hope to find a
                        | job teaching 2nd-3rd grade starting next fall!
    div.row
        div.col-xs-12.col-md-6
            div.panel.panel-info
                div.panel-heading
                    h3.panel-title
                        | Songs That Remind Me of Jonathan
                div.panel-body
                    ul.list-group
                        +songListItemList(songs)
        div.col-xs-12.col-md-6
            div.panel.panel-success
                div.panel-heading
                    h3.panel-title
                        | Quotes That Remind Me of Jonathan
                div.panel-body
                    div#taylor-quotes.carousel.slide(data-ride="carousel" data-interval="false")
                        +caroselIndicators("#taylor-quotes", 9)
                        div.carousel-inner#quote-carousel(role="listbox")
                            +quote(class="active")
                                | It's amazing what I let my heart go through
                                br
                                | To get me where it got me
                                br
                                | In this moment here with you
                                br
                                | - "Here" by Rascal Flatts

                            +quote()
                                | I wouldn't change a thing
                                br
                                | I'd walk right back through the rain
                                br
                                | Back to every broken heart
                                br
                                | On the day that it was breakin'
                                br
                                | And I'd relive all the years
                                br
                                | And be thankful for the tears
                                br
                                | I've cried with every stumbled step
                                br
                                | That led to you and got me here, right here”
                                br
                                | - "Here" by Rascal Flatts

                            +quote()
                                | This much I know is true
                                br
                                | That God blessed the broken road
                                br
                                | That led me straight to you
                                br
                                | - “Bless the Broken Road” by Rascal Flatts

                            +quote()
                                | Home is wherever I'm with you

                            +quote()
                                | No matter where life takes us
                                br
                                | You always have my heart my dear
                                br
                                | - “Young Hearts” by Search the City

                            +quote()
                                | Whatever our souls are made of, his and mine are the same.
                                br
                                | - Emily Bronte

                            +quote()
                                | I have found the one whom my soul loves.
                                br
                                | - Song of Solomon 3:4

                            +quote()
                                | I choose you. And I’ll choose you, over and over and over.
                                br
                                | Without pause, without a doubt, in a heartbeat. I’ll keep
                                br
                                | choosing you.

                            +quote()
                                | How lucky am I to have something that makes saying
                                br
                                | goodbye so hard.
                                br
                                | - Winnie-the-Pooh

                        a.left.carousel-control(href="#taylor-quotes",role="button",data-slide="prev")
                            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                            span.sr-only
                                | Previous
                        a.right.carousel-control(href="#taylor-quotes", role="button", data-slide="next")
                            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                            span.sr-only
                                | Next
