extends common/showcase
block title
    | Groom
block text
    div.row
        div.col-xs-12.col-md-12
            div.page-header
                h1#groom.text-center
                    | Jonathan Poston
                    span.small= " The Groom"
    div.row
        div.col-xs-12.col-md-12
            div.panel.panel-default
                div.panel-body
                    h5= "Where do I call home?"
                    p
                        | Despite being born in Raleigh, NC, I consider Currituck, NC home. My family and I moved there when
                        | I was in fourth grade. Since then its always been home. However, my home away from home will always
                        | be Raleigh. I was born there, I went to college there, and my parents always seem to be there.
                    h5= "What do I do?"
                    p
                        | A lot of what you see here. I'm a Computer Scientist by major and a Software Engineer by occupation.
                    h5= "Where do I do my learning?"
                    p
                        | As a second generation member of the Wolfpack I bleed a very specific shade of red. I'm proud to
                        | be able to call myself an NCSU Alumni and be associated with this great university.
    div.row
        div.col-xs-12.col-md-6
            div.panel.panel-success
                div.panel-heading
                    h3.panel-title
                        | Favorite Moment With Taylor
                div.panel-body
                    p
                        | My favorite moment with Taylor is a really hard question. Of course our trip to Disney World was a really good time.
                        | But honestly anytime when we are together and I get to make her laugh and smile is the new best day. I know it's cheesy but its the truth.
            div.panel.panel-warning
                    div.panel-heading
                        h3.panel-title
                            | Songs That Remind Me of Taylor
                    div.panel-body
                        ul.list-group
                            +songListItemList(songs)

        div.col-xs-12.col-md-6
            div.panel.panel-danger
                div.panel-body
                    div#photos.carousel.slide(data-ride="carousel")
                        +caroselIndicators("#photos", 6)
                        div.carousel-inner(role="listbox")
                            - var active = true
                            each photo in bridephotos
                                if active
                                    +photo(photo)(class="active")
                                    - active = false
                                else
                                    +photo(photo)
                        a.left.carousel-control(href="#photos" role="button" data-slide="prev")
                            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                            span.sr-only
                                | Previous
                        a.right.carousel-control(href="#photos" role="button" data-slide="next")
                            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                            span.sr-only
                                | Next
            div.panel.panel-info
                div.panel-heading
                    h3.panel-title
                        | Quotes That Remind Me of Taylor
                div.panel-body
                    div#taylor-quotes.carousel.slide(data-ride="carousel" data-interval="false")
                        +caroselIndicators("#taylor-quotes", 4)
                        div.carousel-inner#quote-carousel(role="listbox")
                            +quote(class="active")
                                | And the day that I finally can take you home
                                br
                                | There's no way that I'm ever, ever letting go
                                br
                                | We'll be ok, though miles may separate
                                br
                                | There's no space between our hearts
                                br
                                | And this day, I choose to keep loving you
                                br
                                | As if it were a choice, I can't stop falling in love
                            +quote
                                | She sits there all alone
                                br
                                | She's reading from a chapter
                                br
                                | that she sometimes calls her own
                                br
                                | And now she's taken over me
                                br
                                | This girl I once rejected
                                br
                                | Has now become the girl of my dreams
                            +quote
                                | I may not be her perfect chemistry
                                br
                                | But if I can love her like you do
                                br
                                | It's all she needs
                                br
                                | 
                                | I haven't found the remedy
                                br
                                | For every tear she'll cry
                                br
                                | But I'll try to be the one who's by her side
                                br
                            +quote
                                | Something happens when I hold her
                                br
                                | She keeps my heart from getting older
                                br
                                | When the days get short and the nights get a little bit colder
                                br
                                | We hold each other
                        a.left.carousel-control(href="#taylor-quotes",role="button",data-slide="prev")
                            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                            span.sr-only
                                | Previous
                        a.right.carousel-control(href="#taylor-quotes", role="button", data-slide="next")
                            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                            span.sr-only
                                | Next
    include common/footer.jade
