include common/common-mixins.jade
doctype html
html
  head
    title=head.title
    meta(name="viewport", content="width=device-width")
    each link in head.link
        link(href=link, rel="stylesheet", type="text/css")
  body
      include common/header.jade
      block content
      each s in scripts
          script(src=s)
