footer.text-center
    small
        a(href="/credits")
            | Credits
        | &nbsp;
    small
        | &copy;2015 Jonathan Poston &nbsp;
        a(href="https://github.com/jfposton/engagement/")
            img(src="http://findicons.com/files/icons/2796/metro_uinvert_dock/128/github.png" height="20px")
